@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  /* background-color: #F3F4F6; */
  @apply
  text-slate-500
  dark:text-slate-200
}

* {
  font-family: 'Poppins', sans-serif;
}

*::-webkit-scrollbar {
  /* background-color: transparent; */
  /* width: 20px; */
  background-color: rgba(0, 0, 0, 0.03);
  width: 8px;
}

*::-webkit-scrollbar-thumb {
  background-color: rgba(101, 101, 101, 0.2);
  border-radius: 12px;
}


/* Badge */
.badge {
  font-size: 11px;
  font-weight: 500;
  padding: 0 6.5px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  line-height: 20px;
}


.badge.badge-success {
  background: #20c997;
  @apply
  text-white
}

.super-shadow {
  @apply
  shadow-[0_3px_10px_rgb(0,0,0,0.2)]
}

/* UPLOAD FILE */
.custom__form input {
  opacity: 0;
  height: 0;
}

.custom__image-container, .custom__image-container-title, .custom__image-container-captacion {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
}

.custom__image-container label, .custom__image-container-title label, .custom__image-container-captacion label {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 150%;
  cursor: pointer;
  width: 150px;
  height: 150px;
  border: solid 1px black;
  border-radius: 5px;
  object-fit: cover;
}

.custom__image-container img, .custom__image-container-title img, .custom__image-container-captacion img {
  width: 150px;
  height: 150px;
  border: solid 1px black;
  border-radius: 5px;
  object-fit: cover;
}

.p-dropdown{
  @apply
  !border-2
  !border-slate-300
  focus:border-transparent
}

input, select  {
  @apply
  !border-2
  !border-slate-300
  !p-[0.9rem]
  focus:border-transparent
}